@model MyMovies.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Title</h1>

<img src="@Model.ImageUrl" alt="" />

<h2>Description</h2>
<p>@Model.Description</p>

<h3>Duration: @Model.Duration</h3>